p {
    margin-bottom: 0px;
}


.demo-card-wide.mdl-card {
    width: 90%;
    min-height: unset;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: auto;
}

.inline-radio {
    padding-top: 18px;
}

.mdl-layout-title.subtitle {
    font-size: 16px;
    text-align: center;
}

.mdl-layout__drawer>.mdl-layout-title {
    line-height: 50px;
}

.mdl-layout-title.main-title {
    font-weight: 800;
}